<title>Minehut Status - Offline</title>
<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
<style>
    body {
        background: #c0392b;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #8e44ad, #c0392b);

        text-align: center;
        font-family: 'Cabin', sans-serif;
    }
    h1 {
        color: red;
    }
</style>
<h2>Minehut is </h2><h1><strong>Offline</strong></h1>