<title>Minehut Status - Online</title>
<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
<style>
    body {
        background: #00b09b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        text-align: center;
        font-family: 'Cabin', sans-serif;
    }
    h1 {
        color: greenyellow;
    }
</style>
<h2>Minehut is </h2><h1><strong>Online</strong></h1>
<h3>Online Players: <%= playercount %></h3>

<a href="https://discordapp.com/api/oauth2/authorize?client_id=399245263312650241&permissions=2048&scope=bot">Add the Minehut Stats Bot</a>
<a href="">Minehut.fun</a> - View minehut server stats, made by my friend <a href="https://twitter.com/xdjellz">Jellz</a>
